/* body {
    background-color: rgb(196, 152, 152);
    background-image: url("../images/01-02-02_background-img.jpg");
} */

body {
    background-color: rgb(246, 241, 241);
    background-image: url("assets/images/01-02-02_background-img.jpg");
}

h2 {
    color:rgb(0, 255, 51)
}

p {
    font-weight: bold;
}